[Desktop Entry]
Version=1.1
Type=Application
Name=%DESKTOPNAME%
Comment=Run %APP_EXE% as a separated user
Icon=%ICON%
Exec=/usr/bin/run-%USER%-container
Actions=
Categories=%DESKTOP_CAT%;
